#corpo{
	width:80%;
}

.listItem {
	
	width:21em;
	border-top:10px solid transparent;
	border-bottom:2px solid #000000;
	float:left;
	height:20em;
	overflow:hidden;
	border: 1px solid #aaaaaa;
	margin:2px;
}

.listLeft {
	width:9em;
	text-align:right;
	float:left;
	margin:0.3em;
}

.listLeft span {
	font-size:8pt;
	line-height:8pt
}

.listRight {

	width:10em;
	float:left;
	margin:0.3em;
}

.listRight span{

	font-size:10pt;
	line-height:10pt;;
}

.listRight h2 {
	font-size:12pt;
	line-height:12pt;
}


.listInfo {
	font-size:8pt;
	line-height:8pt;
}