#corpo{
	width:100em;
}

.listItem {
	
	width:20em;
	border-top:10px solid #transparent;
	border-bottom:2px solid #000000;
	float:left;
}

.listLeft {
	width:9em;
	float:left;
	
}

.listRight {

	width:10em;
	float:left;
}