#typeIcon{
margin-right:10px;
position:relative;
top:-4px;
}

#pubDesc {
width:60%;
}

#pubTags {
	margin-top:10px;

}

.aItemsCont {
	margin-top:10px;
}

#show-tags {
	display:inline;
}

.inline {
	display:inline;
}

.file img {
	margin:0 10px 10px 0;
}
