#topMenuCubesContainer {
	position:absolute;
	top:20px;
	left:250px;
	text-align:left;
	background-color:#008800;
	color:#ffffff;
	outline: 1px dotted #aaaaaa;
}

#topMenuCubesContainer a {
	color:#ffffff;
}

#logo {
	position:absolute;
	top:10px;
	left:50px;
}

#topMenuGeneral {
	position:absolute;
	top:20px;
	left:350px;
	width:300px;
	text-align:left;
}

#topSubMenu {
	position:absolute;
	top:20px;
	left:450px;
	width:300px;
	text-align:left;
}

/* ultimas alteracoes */
.editdate{
	position:absolute;
	top:-50px;
	left:350px;
	width:150px;
	text-align:left;
	color:#666666;
	font-size:10px;
	line-height:10px;
}



#audiolab:hover {
background-color:#00ff00;color: #ffffff
}
#videolab:hover {
	background-color:#00ff00;
	color: #ffffff
	}
#grafilab:hover {
background-color:#00ff00;color: #ffffff
}
#acervolivre:hover {
	background-color:#00ff00;color: #ffffff
}

/*a busca*/

#search {
	position:absolute;
	top:25px;
	left:600px;
}
