/* tags gerais */
HTML {
	background-image:url(estudiolivre/bgGradientBlue.png);
	background-repeat:repeat-x;
	/*height:99.3%;*/
	height:100%;
}

BODY {
	min-height:100%;
	margin: 0;
	
	padding: 0px 10px 5px 10px;
	font-family: arial,verdana,helvetica,lucida,sans-serif; /*BitStream Vera Sans, Verdana;*/
	font-size:12px;
	
	background-image:url(estudiolivre/bgShadow.png);
	background-repeat:repeat-y;
	background-position: center;
}

A {
	text-decoration:none;
	color:grey;
}

A:hover {
	color: black;
}

IMG {
	border:0px;
}

#tiki-main {
	width:760px;
	margin:0px auto;
	background-color:#FFF;
	padding-top:21px;
}

/* para fazer links 'falsos'*/
.pointer {
	cursor: pointer;
}

span.pointer {
	text-decoration:none;
	color:grey;
}
span.pointer:hover {
	color: black;
}

span.hiddenPointer {
	cursor:pointer;
	color:black;
}