/* tags gerais */
* {
	margin:0;
	padding:0;
}
BODY {
	font-family: arial,verdana,helvetica,lucida,sans-serif; /*BitStream Vera Sans, Verdana;*/
	font-size:10pt;
}

a{color:#808080;}
a:link {text-decoration:none;color:#000000; font-weight:bold}
a:visited {text-decoration:none;color:#666666;}
a:hover {text-decoration:none;color: #ff0000}
a:active {text-decoration:none;color: #666666}

IMG {
	border:0px;
}

li {
	list-style-type: none;	
	
}

h1,h2,h3,h4,h5,h6 {
	line-height:1em;
	margin-bottom:1em;
	margin-top:1em;
}

td {
	text-align:left;
	vertical-align:top;
	border: 0;
}



.blogpost {
	border-bottom:15px solid transparent;
	border-top:2px solid #333333;
	
}

#corpo {
	position:absolute;
	left:250px;
	top:150px;
	width:80%;
	margin:0px;
}

.wikiedit {
	width:50%;
}

#tiki-mid li{
	list-style-type: none;
}


#logo {
	position:absolute;
	top:10px;
	left:50px;
}

#search {
	position:absolute;
	top:25px;
	left:600px;
}

#search li {
	list-style-type: none;
}

#topMenuGeneral {
	position:absolute;
	top:10px;
	left:0px;
}

#sideContent h1{
	font-size:10pt;
	font-weight:bold;
}

#sideContent a{color:#808080;}
#sideContent a:link {text-decoration:none;color:#000000; font-weight:normal}
#sideContent a:visited {text-decoration:none;color:#808080;}
#sideContent a:hover {text-decoration:none;color: #ff0000}
#sideContent a:active {text-decoration:none;color: #808080}

.userMenu {
	padding-bottom:10pt;
	margin-bottom:10pt;
	border-bottom: 5px solid red;
	background-color:transparent;
}

#topMenuCubesContainer {
	position:absolute;
	top:20px;
	left:250px;
	text-align:left;
}

.localMenu {
	font-size:2em;
}


.uText{
	text-align:left;
	margin-bottom:10px;
}

#topMenuGeneral {
	position:absolute;
	top:20px;
	left:350px;
	width:300px;
	text-align:left;
	font-size:12px;
}

#topSubMenu {
	position:absolute;
	top:20px;
	left:450px;
	width:300px;
	text-align:left;
}

.userMenuContent {
	margin-bottom:10px;
}

/* ultimas alteraçoes */
.editdate{
	position:absolute;
	top:-70px;
	left:350px;
	width:150px;
	text-align:left;
}

.topmenu {
	font-size:12pt;
}

.submenu {
	font-size:12pt;
}

.menu {
	text-align:right;
}

.none {
	display:none;
}

.ar {
	position:absolute;
	top:0;
	right:0;
	
}

.mini {
	font-size:8pt;
	line-height:8pt
}

#tiki-midNaoWiki{
	width:400px;
	overflow:visible;
	
	
}

#overlay {
	display:none;
}