#users td.heading, #forum td.heading, #blogs td.heading, #listLastChanges td.heading, #editMods td.heading, #viewForum td.heading {
	font-weight:bold;
}

#viewForum td.heading {
	font-weight:bold;
	background:#c1c1c1;
}

.comMainTitle {
	background-color:#f9f9f9;
	border:1px solid gray;
	text-align:center;
	font-size:16pt;
	margin:5px 0 5px 0;
	padding:2px;
}

#users .odd, #forum .odd, #blogs .odd, #listLastChanges .odd, #editMods .odd, #viewForum .odd {
	background-color:#e9e9e9;
}

.paginacao {
	text-align:center;
	background-color:#f9f9f9;
	border:1px solid gray;
	padding:3px;
	margin-bottom:10px;
}

.paginacao img {
	margin:0 15px 0 15px;
}

#comzoneItems {
	padding:10px;
}

