.simplebox {
	background:	#efefef;
	border:		1pt dashed #aaa;
	font-family:	monospace;
	margin:		5px;
	margin-left:	40px;
	margin-right:	40px;
	padding:	2px;
	font-weight:	bold;
}

#freetager {
	text-align:	right;
}

