.userMenuContent img.uThumb {
	height:	50px;
	float:	left;
	margin:	5px 5px 5px 15px;
}

.modCenterContent {
	text-align:	center;
}

#uKarma {
	margin-top:	-5px;
	margin-bottom:	10px;
}

#uStats {
	font-size:	10px;
	color:		gray;
}

#userNameStatsKarma {
	height:		50px;
	text-align:	center;
}

#login-user {
	width:	97%;
}

#uMenuName {
	width:		100%;
	font-size:	18px;
	font-weight:	bold;
}

#login-pass {
	width:		85%;
	margin-right:	3px;
}

#uLoginBox {
	text-align:	left;
}

#uLoginBox input.uText {
	border:		2px solid #e8e8e8;
	height:		16px;
	margin-bottom:	2px;
}

#uLoginOptions {
	padding:	2px;
	font-size:	12px;
}

