#uLoginBox input.uText {
	border:		2px solid #e8e8e8;
	height:		16px;
	margin-bottom:	2px;
}

#uLoginBox {
	text-align:	left;
}

#login-user {
	width:	97%;
}

#uLoginOptions {
	padding:	2px;
	font-size:	12px;
}

#login-pass {
	width:		85%;
	margin-right:	3px;
}

