.wikiPreview {
	margin:0px;
	border:1px solid grey;
}

#label.wikiPreview {
	padding:5px 5px 0px 5px;
	font-size:16px;
	position:relative;
	bottom:0px;
	border-bottom:1px solid white;
}

#tiki-mid .wikitext {
	text-align:justify;
}

.aSaveCancel {
	margin:10px;
	margin-top:20px;
	border:1px solid #c2c2be;
	text-align:center;
	padding:5px 0 3px 0;
}

#wikiPreviewCont .image, #wikiEditCont .image {
	border:0;
}

#edtComentario DIV, #edtIsMinor DIV, #edtPreviewAtt {
	text-align:left;
	margin-top:15px;
	font-weight:bold;
}

#edtComentario INPUT {
	width:100%;
}

#attention {
	text-align:center;
	padding:5px;
	width:35%;
	position:relative;
	top:-1px;
	margin-right:10px;
	border:1px solid grey;
	border-bottom:1px solid grey;
	border-top:1px solid white;
	margin-left:60%;
}

#wikiPreviewCont #attention {
	padding:5px;
	text-align:justify;
	font-weight:bold;
	width:45%;
	float:right;
	position:relative;
	top:-1px;
	margin:0px;
	border:1px solid grey;
	border-bottom:1px solid grey;
	border-top:1px solid white;
}

#attention #attentionSave {
	text-align:center;
}

#edtSaveCancel {
	text-align:center;
	margin-top:15px;
}

#wikiPreviewCont INPUT, #wikiEditCont INPUT, #wikiEditCont TEXTAREA {
	border:1px inset rgb(233, 233, 174);
	background-color:#f1f1f1;
}

#wikiPreviewCont {
	overflow:hidden;
	padding-top:7px;
	margin:10px 0px 20px 0px;
}

