#searchOptionsCont a.linkbut {
	color:			#a1a1a1;
	font-size:		11px;
	font-weight:		bold;
	background-color:	#ebebeb;
	display:		inline;
	padding:		0px 2px 1px 2px;
}

.paginacao {
	text-align:		center;
	background-color:	#f9f9f9;
	border:			1px solid gray;
	padding:		3px;
	margin-bottom:		10px;
}

.paginacao img {
	margin:	0 15px 0 15px;
}

