#tiki-midAudio, #tiki-midVideo, #tiki-midGraf, #tiki-midAcervo, #tiki-mid {
	line-height:1.5em;
	margin-top:5px;
	margin-left:5px;
	background:white;
	padding:0px 10px 10px 0px;
}

#tiki-midNaoWiki,#tiki-midAcervo {
	width:78.5%;
}

#tiki-midAudio h1, #tiki-midVideo h1, #tiki-midGraf h1, #tiki-midAcervo h1, #tiki-mid h1 {
	line-height:1em;
}

#tiki-midAcervo {
	padding:0px 0px 0px 0px;
}

#tiki-mid .wikitext {
	text-align:justify;
}

#ajax-contentBubble {
	overflow:hidden;
	background-color:white;
}

.diffdeleted{
	background-color:#ffcccc;
		
}
.diffadded {
	background-color:#ccffcc;
}
.diffchar {
	color:#ff0000;
	font-weight:bold;
}

.diffheader {
	font-weight:bold;
	border-bottom: 1px solid #bebebe;
	margin-bottom:2px;
}