.listNav {
	font-size:12px;
}

.listNav .selected {
	font-weight:bold;
}

/* para o pagination que aparece na página do usuário*/
#userPage .listNav {
	position:relative;
	top:-23px;
	left:270px;
	display:inline;
}