#pubNome {
	font-size:18px;
	font-weight:bold;
}

#pubTitulo img {
	margin:0 10px 10px 0;
}

.info {
	line-height:1em;
}

#pubInfo {
	float:left;
	width:15em;
}

#lic {
	margin:10px 0 5px 0;
}

#pubInfo div a img {
	margin-right:5px;
}

.pubT tr {
	vertical-align:top;
}

.pubT .td1 {
	width:25em;
}

#pubDesc {
	padding-top:10px;
}

#pubTags {
	margin-top:10px;
}

.hiddenPointer h1 {
	display:inline;
	font-size:13px;
	font-weight:bold;
}

.aItemsCont {
	margin-top:10px;
	padding-right:10px;
	padding-left:10px;
	text-align:justify;
}

#show-tags {
	display:inline;
}

.inline {
	display:inline;
}

.file img {
	margin:0 10px 10px 0;
}
